<head>
  <title>Receipting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/boostrap-datetimepicker.min.css" rel="stylesheet">
  <link href="css/dataTables.bootstrap.css" rel="stylesheet">
  
  <link href="css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
      <script src="./js/html5.js"></script>
      <script src="./js/respond.js"></script>
    <![endif]-->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="js/bootstrap-datetimepicker.fr.js"></script>
  <script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/js/angular/angular.min.js"></script>
  <script type="text/javascript" src="/js/angular-datatables.min.js"></script>
  <script type="text/javascript" src="/js/angular-datatables.bootstrap.min.js"></script>
</head>