  <ul class="nav nav-tabs">
                  <li><a href="#adminTab" data-toggle="tab" ng-show="isAdmin">Admin</a></li>
                  <li><a href="#supTab" data-toggle="tab" ng-show="isSup">Supervisor</a></li>
                  <li ><a href="#cashierTab" data-toggle="tab" ng-show="isCashier">Cashier</a></li>
                  <li><a href="#reportTab" data-toggle="tab" ng-show="isReporter">Report</a></li>
                </ul>